


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    

    
    
    <title>{% block title %}Détail Sortie{% endblock %}</title>
</head>
<header>
    
    {%if user.is_authenticated%}
    <button onclick=window.location.href="../../../accounts/logout" style="float : right;"  class="favorite styled"
        type="button">
        Logout
    </button>
    {%else%}
    <button onclick=window.location.href="../../../accounts/login" style="float : right;"  class="favorite styled"
        type="button">
        Login
    </button>
    {%endif%}
    
    
    
    
</button>

    <h1> <a href="{%url 'itineraires:sorties' sortie.itineraire.id %}"> {{sortie.itineraire}} </a> - Sortie de {{sortie.utilisateur}}  </h1>
    
</header>

<body>

{% block content %}
Point de départ de l'itinéraire : {{sortie.itineraire.point_depart}}</br>
Date : {{sortie.date_sortie}} </br>
Durée réelle : {{sortie.duree_reelle}}h</br>
Nombre de participants : {{sortie.nombre_personne}}</br>
Type de randonneurs : {{sortie.experience}}</br>
Météo : {{sortie.meteo}}</br>
Difficultée ressentie : {{sortie.difficulte_ressentie}}/5</br>


<button onclick=window.location.href="{%url 'itineraires:modifier_sortie' sortie.id %}"   class="favorite styled"
                        type="button">
                    Modifier
                        </button>




{% endblock content %}
</body>

</html>
