


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    

    
    
    <title>{% block title %}Itineraire{% endblock %}</title>
</head>
<header>
    
    <button onclick=window.location.href="../accounts/login" style="float : right;"  class="favorite styled"
        type="button">
        Login
    
</button>

    <h1> Topoguide </h1>
    
</header>

<body>

{% block content %}

<h2> Itineraire </h2>

<div class="row">
    <table class="table table-striped" style="text-align : center;border-collapse:collapse;">
        <thead>
        <tr>
            <th>Titre</th>
            <th> Point de départ </th>
            <th>Durée estimée</th>
            
            <th>Difficultée estimée</th>
            
        </tr>
        </thead>
        <tbody>
        {% for it in list_itineraire %}
            <tr style="border-top:1px solid">
                <td> <a href="../facebook.fr "> {{ it.titre }} </a></td>
                <td> {{it.point_depart}}</td>
                <td>{{ it.duree_estimee }}</td>
                <td>{{ it.difficulte_estimee }}/5</td>
                
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}
</body>
</html>
